{% extends 'base.html.twig' %}	
{% block title %}competence{% endblock %}

{% block body %}
    
<h2> COMPETENCE </h2>
	
<p>Utilisation de logiciels de Publication Assistée par Ordinateur-PAO ( Bamboo-dock, sumo paint, livebrush, montmartre, bamboopapers,artrage..)</p>
<p>Utilisation de logiciel d'image de synthèse ( Philter, Photoshop...) </p>
<p>Utilisation de logiciel d'édition multimédia( Animator, imovie, windows movie maker, sonyvegas pro, share factory ) </p>
<p>Règle de mise en page/forme </p>
<p>Règle de sécurisation de fichiers informatiques </p>

{% endblock %}	