{% extends 'base.html.twig' %}
{% block title %}diplome{% endblock %}

{% block body %}
    
<h2> DIPLOME </h2>

<p>2015 - CAP Maintenance de Batiments de Collectivités - O.R.E.A - Lunel</p>
	
{% endblock %}
