{% extends 'base.html.twig' %}	
{% block title %}experience{% endblock %}

{% block body %}
    
<h2> EXPERIENCE </h2>

<p>2016 Vendeur et fournisseur de materiaux et produit facade - Endui34 - Lunel</p>
<p>2015 Plombier particulier et entreprise - Lamrini.M SASU - Lunel</p>
<p>2015 Agent d'entretien d'entreprise et de grande surface employé – Asics – Baillargues </p>
<p>2014 Architecte paysagiste stagiaire - Crea Terra – St jean de Védas</p>
<p>2014 Infographiste print stagiaire - Print et co / L'atelier - Lunel</p>
<p>2013 Monteur optique lunetterie stagiaire – Hugo optique – Lunel </p>

{% endblock %}
