{% extends 'base.html.twig' %}	
{% block title %}loisir{% endblock %}

{% block body %}
    
<h2> LOISIR </h2>

<p> JEUX VIDEO: Playstation 4, PC, SmarthPhone etc.. </p>
<p> SPORT: Kung-fu, Footballe Americain, BasketBall, FootBall etc..</p>
<p> FILM: Star Wars, Harry Potter, Avatar, La Planet des singes etc.. </p>
<p> SERIE: Breaking Bad, Games Of Thrones, The Walking Dead etc.. </p>
<p> BD: Batman, Spider-Man, Dragon Ball, Naruto, One Piece etc..</p>
        
{% endblock %}
